<!-- FRASE -->

<div class="container-fluid login">
    <div class="row">
        <div class="col">
        <p class="text-center">Hola! {{usuario}} Luego de crear o midificar, cierra sessión.
            <a href="/views/admin/layout.hbs" class="btn btn-warning boton">Fin sesión</a>
        </p>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
        <h2>Frase del día.</h2>
        </div>
        <div class="col-2 text-right">
        <a href="/admin/frase/agregar" class="btn btn-warning boton">Crear</a>
</div>

    <div class="row">
        <div class="col"></div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Frase</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each frase}}
                <tr>
                    <th scope="row"> {{id}} </th>
                    <td> {{titulo}} </td>
                    <td> {{{imagen}}} </td>
                    <td>
                        {{!-- <a href="" class="btn btn-warning boton">Crear</a> --}}
                        <a href="/admin/frase/modificar/{{id}}" class="btn btn-warning boton">Modificar</a>
                        <a href="/admin/frase/eliminar/{{id}}" class="btn btn-warning boton">Borrar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>